:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
}


.hobbies, .bio, .contact {
  border: 1px solid blue;

}

.hobbies {
  grid-area: hobbies;
}

.bio {
  grid-area: bio;
}

.contact {
  grid-area: contact;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.container {
  border: 1px solid red;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  grid-gap: 1em;
  grid-template-columns: minmax(200px, 1fr);
  grid-template-areas:
 "hobbies"
 "bio"
 "contact"
}


@media only screen and (min-width: 500px)  {

  .container {
  /* grid-template-columns: 20% auto; */
  grid-template-areas:
    "bio bio"
    "hobbies contact";
    }
  }

  @media only screen and (min-width: 800px)  {

    .container {
    /* grid-template-columns: 20% auto; */
    grid-template-areas:
      "hobbies bio bio contact";
      }

    }
